/* div[role=feed] {
  background: #000 !important;
}

.fbUserPost div[role=feed] h5 span.fwb {
  background: green !important;
}
 */

 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */


.fbbr__overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  background: #fff;
  width: 490px;
  display: block;
  border-radius: 5px;
  margin: 20vh auto;
  text-align: center;
  padding: 50px;
}

.fbbr__overlay .title {
  font-size: 20px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.fbbr__overlay .title__times_up {
  font-size: 40px;
  color: #da5252;
}

.fbbr__overlay #timesUp p {
  font-size: 14px;
}

.button_selection {
  display: inline-block;
  padding: 10px;
  font-size: 28px;
  margin: 0 10px 0 0;
  border-radius: 5px;
  color: #fff;
}
.button_selection:hover {
  cursor: pointer;
}

.button_selection__one {
  background: #42b342;
  width: 170px;
}
.button_selection__one:hover {
  background: #4fd04f;
}

.button_selection__two {
  background: #dab83a;
  width: 90px;
}
.button_selection__two:hover {
  background: #f7d144;
}
.button_selection__five {
  background: #b94545;
  width: 60px;
}
.button_selection__five:hover {
  background: #da5252;
}
.button_selection__infinity{
  background: #792d2d;
  margin: 0;
}
.button_selection__infinity:hover {
  background: #9e3d3d;
}

.minute {
  display: block;
  font-size: 13px;
}

.boo_hover_container {
  position: relative;
}

.boo_hover_arrow {
  width: 112px;
  height: 112px;
  position: absolute;
  bottom: 132px;
  right: 102px;
  transform: rotate(-90deg);
}
.boo_hover_arrow::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444), color-stop(100%, #444));
  transform: rotate(-45deg);
}
.boo_hover {
  position: absolute;
  right: -113px;
  top: 37px;
  padding: 10px;
  background: #444;
  border-radius: 5px;
  opacity: 0;

}
.boo_hover_image {
  width: 300px;
  display: block;
  position: relative;
}

@keyframes ease_up_picture {
  0% {
    opacity: 0;
    top: 58px;
  }
  100% {
    opacity: 1;
    top: 37px;
  }
}

@keyframes ease_down_picture {
  0% {
    opacity: 1;
    top: 37px;
  }
  100% {
    opacity: 0;
    top: 58px;
  }
}

.ease_up {
  animation-timing-function: ease-in;
  animation-name: ease_up_picture;
  animation-duration: 0.2s;
  opacity: 1;
}

.ease_out {
  animation-timing-function: ease-in;
  animation-name: ease_down_picture;
  animation-duration: 0.2s;
  opacity: 0;
}
